.root {
  height: 30px;
  line-height: 30px;
  cursor: default;
  overflow: hidden;
}

.songTitle {
  padding: 0 5px;
}

.songDuration {
  position: absolute;
  right: 5px;
}

.selected {
  //background-color: darkgrey;
}

.nowPlaying {
  font-weight: bold;
}

.dragHandle {
  display: inline;
  margin: 0 10px;
  i {
    cursor: grab;
    margin: 0;
  }
}


.songButton {
  margin: 0 2px;
  cursor: pointer;
}

.dragged .dragHandle {
  cursor: grabbing;
}
